<footer>
    <div class="f">
        <div class="f-social">
            <a href="https://wa.me/6204752951" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/kapur_03/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/kapur2026/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-brand">&copy:KK Private Limited</div>
        <div class="f-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>